PATH_add ./scripts
export RANCHER_ENDPOINT=https://rancher.example.org/v3
export RANCHER_CONFDIR="$HOME/.rancher"

if [ ! -f "${RANCHER_CONFDIR}/bearer-token" ]
then
  echo "Missing rancher bearer-token"
  exit 1
fi

export RANCHER_BEARER_TOKEN=$(cat "${RANCHER_CONFDIR}/bearer-token")
